  <nav class="nav">
    <a class="nav__logo" href="/">Curricla</a>
    <article class="nav-mobile">
      <input type="checkbox" class="nav-mobile__checkbox" id="nav-toggle"/>
      <label for="nav-toggle" class="nav-mobile__btn">
          <span class="nav-mobile__icon">
            &nbsp;
          </span>
      </label>

    <nav class="nav-mobile__nav">
      <ul class="nav-mobile__list">
        <li class="nav-mobile__item nav-mobile__item--1">
          <a class="nav-mobile__link" href="/curriculum/front-end/">Front-End</a>
        </li>
        <li class="nav-mobile__item nav-mobile__item--2">
          <a class="nav-mobile__link" href="/curriculum/back-end/">Back-End</a>
        </li>
        <li class="nav-mobile__item nav-mobile__item--3">
          <a class="nav-mobile__link" href="/curriculum/full-stack/">Full-Stack</a>
        </li>
      </ul>
    </nav>
  </article>

    <ul class="nav__list">
      <li class="nav__item nav__item--1">
        <a class="nav__link" href="/curriculum/front-end/">Front-End</a>
      </li>
      <li class="nav__item nav__item--2">
        <a class="nav__link" href="/curriculum/back-end/">Back-End</a>
      </li>
      <li class="nav__item nav__item--3">
        <a class="nav__link" href="/curriculum/full-stack/">Full-Stack</a>
      </li>

    </ul>
  </nav>
