// COLORS
$primary-color-dark: #070707;
$primary-color-light: #4A4A4A;
$secondary-color-pink: #C11F9E;
$secondary-color-yellow: #E8DF1A;
$secondary-color-white: #ffffff;


// LAYOUT
$section-padding-large : 12rem;
$section-padding-medium : 6rem;
$section-height: 80rem;