@font-face {
    font-family: Nunito;
    src: url(/public/fonts/NUNITO-REGULAR.TTF) format('woff2'),
        url(/public/fonts/nunito-v10-latin-regular.woff) format('woff');
    font-display: optional;
}


body { 
    font-family: Nunito, 'Arial';
    font-size: 1.6rem;
}
