<main class="main">
    <section class="curriculum">
        <h1 class="curriculum__primary-heading">
            Curriculum Paths
        </h1>
        <ul class="curriculum__list">
            <a href="curriculum/front-end" class="curriculum__link">
                <li class="curruculum__item">
                    <h2 class="curriculum__secondary-heading">
                        Front-End
                    </h2>
                    <p class="curriculum__description">
                    You will build user interfaces and develope what the user see and interact with, and so much more. 
                    Starting from the basics such as learning HTML, CSS, Javascript and then you will go to a more advanced topics.
                    </p>
                </li>
            </a>
            <a href="curriculum/back-end" class="curriculum__link">
                <li class="curruculum__item">
                    <h2 class="curriculum__secondary-heading">
                        Back-End
                    </h2>
                    <p class="curriculum__description">
                        You will create servers and APIs that handle user requests, interact with Databases.
                        Starting from the basics such as learning Node.js, Middlewares, and routes. after that you will go to a more advanced topics.
                    </p>
                </li>
            </a>
            <a href="curriculum/full-stack" class="curriculum__link">
                <li class="curruculum__item">
                    <h2 class="curriculum__secondary-heading">
                        Full-Stack
                    </h2>
                    <p class="curriculum__description">
                        You Learn the fundemntals of rendering and web architecture. From Client-Side Rendering to Server-Side rendering.
                        And How to Connect your front-end application to your back-end.
                    </p>
                </li>
            </a>
        </ul>
    </section>
</main>