<section class="hero">
    <hgroup class="hero__text-box">
        <h1 class="hero__primary-heading hero__primary-heading--main">No more time wasted.
        <span class="hero__primary-heading hero__primary-heading--sub" >Start learning Web Development now.</span></h1>
        <h2 class="hero__secondary-heading">Learn Web Development with a complete Full-Stack curriculum.</h2>
    </hgroup>
    <a class="btn btn--cta btn--cta--pink" href="curriculum">Show Curriculum</a>
</section>
<main class="main">
    <section class="about">         
        <h1 class="about__primary-heading">
            Learn the insights behind what you learn
        </h1>

        <ul class="about__list">
            <li class="about__item">
                <h2 class="about__secondary-heading">Learn</h2>
                <p class="about__description">
                    you will start learning from zero to building a strong foundation for 
                    your future. With flexible paid and free learning paths to choose from. 
                </p>
            </li>
            <li class="about__item">
                <h2 class="about__secondary-heading">Build</h2>
                <p class="about__description"> 
                    the resources will contain so many practical projects and real world problems. 
                    you will build your own projects with so much relavent information.
                </p>
            </li>
            <li class="about__item">
                <h2 class="about__secondary-heading">Make Decisions</h2>
                <p class="about__description">
                    combine your practice with the industry standards and conventions.
                    you will be able to make important decisions in your projects faster
                    and more efficient.        
                </p>
            </li>
        </ul>
    </section>

    <section class="prices">
        <div class="prices__background"></div>
        <h1 class="prices__primary-heading">
            <span class="prices__skew-wrapper">There is resources for everyone!</span> 
        </h1>
        <ul class="prices__list">
            <li class="prices__item">
            <div class="prices__paid">
                <h2 class="prices__secondary-heading">Paid</h2>
                    <p class="prices__description prices__description--left"> 
                        you will not pay so much money for your education, most of them are 10$ courses 
                        and monthly memberships. this path is my recommendation for everyone who wants to invest in himself.
                    </p>
            </div>
            </li>
            <li class="prices__item">

                <div class="prices__free">
                    <h2 class="prices__secondary-heading">Free</h2>
                    <p class="prices__description prices__description--right"> 
                        Also there is really good free resources that can lead you to be a Web Developer.
                        I will do my best to gather the best learning materials for you. Don't worry!
                    </p>
                </div>
            </li>

        </ul>
    </section>

    <section class="track track--front-end" id="track--front-end">
        <div class="track__wrapper">
            <div class="track__heading-box">
                <h1 class="track__primary-heading">Front-End</h1>
            </div>
            <div class="track__description-box">
                <p class="track__description">
                    Learn Front-End Development from a beginner level to an intermediate level.
                    You will build user interfaces and develope what the user see and interact with, and so much more. 
                    Starting from the basics such as learning HTML, CSS, Javascript and then you will go to a more advanced topics.
                    Also you will learn the most modern frameworks and libraries.
                </p>
            </div>
        </div>
    </section>

    <section class="track track--back-end">
        <div class="track__wrapper track__wrapper--back-end">
            <div class="track__description-box ">
                <p class="track__description">
                    Learn Back-End Development from a beginner level to an intermediate level.
                    You will create servers and APIs that handle user requests, interact with Databases.
                    Starting from the basics such as learning Node.js, Middlewares, and routes. after that you will go to a more advanced topics.
                </p>
            </div>
            <div class="track__heading-box">
                <h1 class="track__primary-heading">Back-end</h1>
            </div>
        </div>
        
    </section>

    <section class="track">
        <div class="track__wrapper">
            <div class="track__heading-box">
                <h1 class="track__primary-heading">Full-Stack</h1>
            </div>
            <div class="track__description-box">
                <p class="track__description">
                    You Learn the fundemntals of rendering and web architecture. From Client-Side Rendering to Server-Side rendering.
                    and How to Connect your front-end application to your back-end.
                </p>
            </div>
            
        </div>
    </section>

</main>