.section-resources {
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
  height: 120vh;

  &__heading-box {
    margin: 0 auto 10rem auto;
    text-align: inherit;
    width: 50%;
  }

  &__primary-heading {
    font-weight: 400;
    font-size: 3rem;
    color: $primary-color-dark;
    margin-bottom: 1.3rem;
  }
  &__line {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.resources {
  width: 80%;
  margin: 0 auto;
  display: flex;
  text-align: left;
  justify-content: space-between;
  & > * {
    flex-basis: 30%;
  }
  &__secondary-heading {
    margin-bottom: 1.4rem;
  }

  &__item {
    margin-bottom: 1rem;
  }
  &__link {
    color: $secondary-color-pink;
    padding-bottom: 2rem;
  }

  @include respond(tablet-l) {
    flex-direction: column;
    justify-content: initial;
    width: 100%;
    height: 100vh;
    align-items: center;
    & > * {
      margin-top: 3rem;

      width: 80%;
      flex-basis: 30%;
    }
  }
}
