<main class="main">
    <section class="section-course section-course--full-stack">
        <article class="course">
            <h1 class="course__primary-heading">
                MERN Stack
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                Learn How to connect you front-End (React) to you back-end (Node & Express , Mongodb)
            </p>    
            <a href="full-stack/mern" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Client Rendering</li>
                <li class="course__tag">Node.js</li>
                <li class="course__tag">React</li>

            </ul>
        </article>
    </section>
</main>