.curriculum {
  padding: 10rem 0;
  color: $primary-color-dark;
  text-align: center;
  min-height: 100rem;
  &__primary-heading {
    font-weight: 400;
    margin-bottom: 8rem;
    font-size: 2.7rem;
  }
  &__list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & > * {
      flex-basis: 25%;
    }

    @include respond(laptop-m) {
      width: 100%;
      justify-content: space-around;

      & > * {
        flex-basis: 27%;
      }
    }

    @include respond(tablet-l) {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: space-between;
      align-items: center;
      & > * {
        width: 40%;
        flex-basis: 31%;
      }
    }

    @include respond(tablet-s) {
      & > * {
        width: 50%;
      }
    }
    @include respond(mobile-l) {
      height: 85vh;
      & > * {
        width: 60%;
        flex-basis: 30%;
      }
    }
  }

  &__link {
    overflow: hidden;
    text-decoration: none;
    background-color: $secondary-color-pink;
    height: 32rem;
    border-radius: 0.51rem;
    cursor: pointer;
    transform: translateY(0rem);
    transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;

    &:hover {
      box-shadow: 0.5rem 0.7rem 3rem rgba($primary-color-light, 0.2);
      transform: translateY(-1rem);
    }
  }
  &__item {
  }
  &__secondary-heading {
    color: $secondary-color-white;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 2.8rem;
  }
  &__description {
    // font-size: 1.6rem;
    margin-top: 1rem;
    color: $secondary-color-white;
    padding: 2.5rem;
    width: 100%;
    display: inline-block;
  }
}
