<main class="main">
    <section class="section-course">
        <article class="course">
            <h1 class="course__primary-heading">
                Web Development 101
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                the basics of how the web works. 
            </p>    
            <a href="front-end/web-101" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Internet</li>
                <li class="course__tag">HTTP Protocol</li>
                <li class="course__tag">DNS</li>

            </ul>
        </article>
      <article class="course">
            <h1 class="course__primary-heading">
                HTML
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                a complete guide to html.   
            </p>    
            <a href="front-end/html" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Basics</li>
                <li class="course__tag">Semantic HTML</li>
                <li class="course__tag">Accessibilty</li>

            </ul>

        </article>
          <article class="course">
            <h1 class="course__primary-heading">
                CSS
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                a complete guide to css. from begginer to an advanced css developer
            </p>    
            <a href="front-end/css" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">CSS Flex-box</li>
                <li class="course__tag">CSS Grid</li>
                <li class="course__tag">CSS Animations</li>      
            </ul>
        </article>
          <article class="course">
            <h1 class="course__primary-heading">
                Javascript
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                A complete guide to Javascript. a deep dive to an advanced level.
            </p>    
            <a href="front-end/javascript" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Closure</li>
                <li class="course__tag">ES6</li>
                <li class="course__tag">OOP</li>      
            </ul>
        </article>
          <article class="course">
            <h1 class="course__primary-heading">
                React
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                A complete guide to React. 
            </p>    
            <a href="front-end/react" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Redux</li>
                <li class="course__tag">React Routers</li>
                <li class="course__tag">Hooks</li>
                <li class="course__tag">Context API</li>        
            </ul>

        </article>
    </section>
</main>