<p>
    this website is made by me. a university student, who loves computer science and software devlopment. 
    all theese courses and resources were a fundemntal step for me when I learned web development. 
</p>