<main class="main">
    <article class="faq">
        <div class="faq__question-box" id="question-box">
            <h1 class="faq__question">
                is this the only way that i can become a web developer ?
            </h1>
            <div class="faq__icon" id="icon">
                &nbsp;
            </div>
        </div>
        <div class="faq__answer-box">
            <q class="faq__answer">
                No, this is just resources that I learned from. 
                there is so many defferent languages and technologies out there
                that you might like.
            </q>
        </div>
    </article>
    <article class="faq">
        <div class="faq__question-box" id="question-box">
            <h1 class="faq__question">
                is this the only way that i can become a web developer ?
            </h1>
            <div class="faq__icon" id="icon">
                &nbsp;
            </div>
        </div>
        <div class="faq__answer-box">
            <q class="faq__answer">
                No, this is just resources that I learned from. 
                there is so many defferent languages and technologies out there
                that you might like.
            </q>
        </div>
    </article>    
</main>

