.course {
  padding: 1.4rem;
  margin: 0 auto 3rem auto;
  max-width: 65rem;
  background-color: $secondary-color-pink;
  border-radius: 0.7rem;
  position: relative;
  @include respond(mobile-l) {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
      flex-basis: 40%;
    }
  }

  &__primary-heading {
    font-weight: 400;
    font-size: 2.8rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  &__description {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 400;
  }
  &__btn {
    flex-basis: 27%;
    margin-right: 2rem;
    @include respond(mobile-l) {
      flex-basis: 35%;
    }
    @include respond(mobile-s) {
      flex-basis: 38%;
    }
  }
  &__tag-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 100%;
  }
  &__tag {
    background-color: $secondary-color-yellow;
    color: $primary-color-dark;
    border-radius: 0.2rem;
    padding: 0.2rem 0.6rem;
    margin-right: 1rem;
  }
}
