.nav-mobile {
  display: none;
  @include respond(tablet-l) {
    display: inline-block;
  }
  &__checkbox {
    display: none;
  }
  &__btn {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50rem;
    z-index: 3000;
    text-align: center;
    cursor: pointer;
  }

  &__nav {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    width: 0;
    background-color: rgba($secondary-color-pink, 1);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: none;
      font-size: 4rem;
      font-weight: 400;
      padding: 1rem;
      color: $secondary-color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        90deg,
        transparent 0%,
        transparent 50%,
        $secondary-color-yellow 40%
      );
      background-size: 220%;
      transition: all .2s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color-dark;
    }
  }
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }
  &__checkbox:checked &__link {
    display: inline-block;
  }
  &__icon {
    position: relative;
    margin-top: 50%;
    transform: translateY(-50%);

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: $secondary-color-white;
      display: inline-block;
    }
    &::after {
      @include respond(tablet-s) {
        width: 3rem;
        height: 0.2rem;
      }
    }
    &::before {
      @include respond(tablet-s) {
        width: 3rem;
        height: 0.3rem;
      }
    }

    & {
      @include respond(mobile-l) {
        width: 3rem;
        height: 0.3rem;
      }
    }
    &::after {
      @include respond(mobile-l) {
        width: 3rem;
        height: 0.3rem;
      }
    }
    &::before,
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__icon::before {
    top: -1rem;
  }
  &__btn:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
