.nav {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  background-color: #070707;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding: 0 5rem;
  position: relative;

  &__logo {
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: $secondary-color-white;
    text-decoration: none;
    font-weight: 400;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-basis: 60%;
    justify-content: flex-end;
    margin-right: 1rem;
    @include respond(tablet-l) {
      display: none;
    }
  }

  &__item {
    margin-right: 2rem;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.07rem;
    position: relative;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -0.3rem;
      width: 0rem;
      border-bottom: 0.2rem solid #d623ae;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  &__line {
    margin-right: 2rem;
    width: 0.2rem;
    height: 2rem;
    background-color: #ffffff;
    display: inline-block;
  }
}
