<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">NODE.JS & EXPRESS</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                <a href="https://www.udemy.com/course/nodejs-the-complete-guide/" class="resources__link">
                    1 - The First 4 Sections in: NodeJS - The Complete Guide (incl. MVC, REST APIs, GraphQL) (Udemy Course)
                </a>
                </li>
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/node-js/" class="resources__link">
                        2 - Introduction to Node.js (frontend Masters Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment/" class="resources__link">
                        3.1 - Node.js, Express & MongoDB Dev to Deployment (Udemy Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://learnnode.com/" class="resources__link">
                        3.2 - The best way to learn server-side JavaScript! (Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/servers-node-js/" class="resources__link">
                        4 - The Hard Parts of Servers & Node.js (frontend Masters Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=GlybFFMXXmQ" class="resources__link">
                        5 - Node JS Tutorial for Beginners #13 - Streams and Buffers
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.freecodecamp.org/news/do-you-want-a-better-understanding-of-buffer-in-node-js-check-this-out-2e29de2968e8/" class="resources__link">
                        6 - Do you want a better understanding of Buffer in Node.js?
                    </a>
                </li>                 
                <li class="resources__item">
                    <a href="https://medium.com/@jbbpatel94/node-js-globals-object-108ba10fc38d" class="resources__link">
                        7 -  Node.js Globals Object
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://blog.codeship.com/understanding-garbage-collection-in-node-js/" class="resources__link">
                        8 - Understanding Garbage Collection and Hunting Memory Leaks in Node.js
                    </a>
                </li>         
            </ul>
            <ul class="resources__free-list">
            <h2 class="resources__secondary-heading">
                Intermediate
            </h2> 
            <li class="resources__item">
                <a href="https://frontendmasters.com/courses/api-design-nodejs-v3/" class="resources__link">
                    9 -  API Design in Node.js, v3 (Frontend Masters Course)
                </a>
            </li>  

                <li class="resources__item">
                    <a href="https://medium.com/@basterrika/lets-understand-what-an-api-is-7072eb091e76" class="resources__link">
                       10 - Let’s understand what an API is
                    </a>
                </li>                 
                <li class="resources__item">
                    <a href="https://restfulapi.net/" class="resources__link">
                        11 -  What is REST
                    </a>
                </li>            
                <li class="resources__item">
                    <a href="https://www.sitepoint.com/developers-rest-api/" class="resources__link">
                        12 - Do you know what a REST API is?
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://restfulapi.net/rest-architectural-constraints/" class="resources__link">
                        13 - REST Architectural Constraints
                    </a>
                </li>    
                <li class="resources__item">
                    <a href="https://www.manning.com/books/node-js-in-practice" class="resources__link">
                        14 - Node.js in Practice (Book)
                    </a>
                </li>                  
            </ul>   
        </div>
    </section>

</main>