<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">MongoDB</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/mongodb/" class="resources__link">
                        1 - Introduction to MongoDB (Frontend Masters Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.udemy.com/nodejs-express-mongodb-dev-to-deployment/" class="resources__link">
                        2 - Node.js, Express & MongoDB Dev to Deployment (Udemy Course)
                    </a>
                </li>
            </ul>
            <ul class="resources__free-list">
            {{!-- <h2 class="resources__secondary-heading">
                Intermediate
            </h2>  --}}
                
            </ul>   
        </div>
    </section>

</main>