<main class="main">
    <section class="section-course">
        <article class="course">
            <h1 class="course__primary-heading">
                Node.js & Express.js
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                the basics of Node.js 
            </p>    
            <a href="back-end/node" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Core Modules</li>
                <li class="course__tag">Servers</li>
                <li class="course__tag">Express</li>
            </ul>
        </article>
      <article class="course">
            <h1 class="course__primary-heading">
                Mongodb
            </h1>
            <div class="course__wrapper">
            <p class="course__description">
                a complete guide to Mongodb.   
            </p>    
            <a href="back-end/mongodb" class="course__btn btn btn--cta btn--cta--white">
                Show Track
            </a>
            </div>
            <ul class="course__tag-list">
                <li class="course__tag">Mongoose</li>
                <li class="course__tag">Atlas</li>
            </ul>
    </section>
</main>