<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">Web Development 101</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc" class="resources__link">
                    1. How the internet works
                </a>
                </li>
                <li class="resources__item">
                <a href="https://www.youtube.com/watch?v=7_LPdttKXPc" class="resources__link">
                    2. How the web works
                </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=e4S8zfLdLgQ&t=765s" class="resources__link">
                        3. How the web works for web developers part 1
                    </a>
                </li>
                             <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=FTAPjr7vgxE" class="resources__link">
                        4. How the web works for web developer part 2
                    </a>
                </li>
            </ul>
            <ul class="resources__free-list">
            <h2 class="resources__secondary-heading">
                Intermediate
            </h2>   
   
                <li class="resources__item">
                    <a href="https://www.digitalocean.com/community/tutorials/an-introduction-to-dns-terminology-components-and-concepts" class="resources__link">
                        5. An intro to DNS 
                    </a>
                </li>
            </ul>   

        </div>
    </section>

</main>