<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">CSS</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                <a href="https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3/" class="resources__link">
                    1. CSS Section in: Build Responsive Real World Websites with HTML5 and CSS3 (Udemy Course)
                </a>
                </li>
            </ul>
            <ul class="resources__free-list">
            <h2 class="resources__secondary-heading">
                Intermediate
            </h2> 
            <li class="resources__item">
                <a href="https://www.udemy.com/advanced-css-and-sass/" class="resources__link">
                    2. Advanced CSS and Sass: Flexbox, Grid, Animations and More! (Udemy Course)
                </a>
            </li>  
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=N5EW4HnF6FU" class="resources__link">
                        3. The Only 2 CSS Properties You Should Animate
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/motion-design-css/" class="resources__link">
                        4. Motion Design with CSS Animations (frontend Masters Course)
                    </a>
                </li>
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/css-grids-flexbox/" class="resources__link">
                        5. CSS Grids and Flexbox for Responsive Web Design
                    </a>
                </li>               

            </ul>   
        </div>
    </section>

</main>