<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">HTML</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                <a href="https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3/" class="resources__link">
                    1. Build Responsive Real World Websites with HTML5 and CSS3 (Udemy Course)
                </a>
                </li>
                <li class="resources__item">
                <a href="https://www.udemy.com/the-web-developer-bootcamp/" class="resources__link">
                    1.2 HTML Section in The Web Developer Bootcamp (Udemy Course)
                </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=UB1O30fR-EE" class="resources__link">
                        1.3 HTML Crash Course (Free)
                </a>
                </li>
            </ul>
            <ul class="resources__free-list">
            <h2 class="resources__secondary-heading">
                Intermediate
            </h2>   
                <li class="resources__item">
                    <a href="https://frontendmasters.com/courses/web-accessibility/" class="resources__link">
                        1. Website Accessibility (frontend masters course)

                </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=YB04cZxreg8&t=20s" class="resources__link">
                        1.2.1  Adventures In Accessibility 1: Images (Colt Steele)
                </a>
                </li>
                                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=ZAIUuU2MMvE" class="resources__link">
                        1.2.2  Adventures In Accessibility 2: Alerts

                </a>
                </li>
                <li class="resources__item">
                    <a href="https://www.youtube.com/watch?v=9S_66Dg5Sqs" class="resources__link">
                        1.2.3 Adventures In Accessibility 3: Semantic Markup

                </a>
                </li>
                <li class="resources__item">
                <a href="https://internetingishard.com/html-and-css/semantic-html/" class="resources__link">
                    2. Semantic HTML
                </a>
                </li>
                <li class="resources__item">
                    <a href="http://accessibilitymanifesto.com/introduction" class="resources__link">
                    3. Accessibility Manifesto
                </a>
                </li>
                <li class="resources__item">
                    <a href="https://axesslab.com/alt-texts/" class="resources__link">
                        4. Alt-texts: The Ultimate Guide
                </a>
                </li>
                
            </ul>   

        </div>
    </section>

</main>