<main class="main">
    <section class="section-resources">
            <div class="section-resources__heading-box">
            <h1 class="section-resources__primary-heading">JAVASCRIPT</h1>
            <hr class="section-resources__line">
            </div>
        <div class="resources">
        
            <ul class="resources__paid-list">
            <h2 class="resources__secondary-heading">
                Basics
            </h2>   
                <li class="resources__item">
                <a href="https://www.udemy.com/the-complete-javascript-course/" class="resources__link">
                    1. The Complete JavaScript Course 2019: Build Real Projects! (Udemy Course)
                </a>
                </li>
            </ul>
            <ul class="resources__free-list">
            <h2 class="resources__secondary-heading">
                Intermediate
            </h2> 
            <li class="resources__item">
                <a href="https://frontendmasters.com/courses/javascript-hard-parts/" class="resources__link">
                    2. JavaScript: The Hard Parts (Frontend Masters Course)
                </a>
            </li>  
                <li class="resources__item">
                    <a href="https://github.com/getify/You-Dont-Know-JS" class="resources__link">
                        3. You Dont Know JS
                    </a>
                </li>
            </ul>   
        </div>
    </section>

</main>